.color-orange {
    color: #FF5722 !important;
}

.color-blue {
    color: #03A9F4 !important;
}

.main-header {
    border-bottom: 5px solid #03A9F4;
}

.main-header .logo {
    background: #FFF !important;
    color: #FF5722 !important;
}

.main-header .logo:hover {
    color: #444 !important;
}

.main-header .navbar {
    background: #FFF !important;
    color: #444
}

.main-sidebar {
    background: #444 !important;
    width: 200px !important
}

/*#03A9F4 */
a.sidebar-toggle {
    color: #CCC !important
}

a.sidebar-toggle:hover {
    background: #EFEFEF !important
}

/*.navbar-custom-menu .user-menu.open a, .navbar-custom-menu .user-menu a:hover{background: none !important;}*/

.user-panel {
    background: #03A9F4 !important;
    color: #FFF !important;
    margin-top: 5px !important
}

.user-panel .info, .user-panel a {
    color: #FFF !important;
}

.user-panel .info a i.text-success {
    color: #8BC34A !important;
}

.sidebar-menu > li {
    border-bottom: 1px solid #333
}

.sidebar-menu > li > a {
    padding: 8px 5px 8px 5px !important;
    color: #CCC !important
}

.sidebar-menu > li > a:hover {
    background: #111 !important;
    color: #CCC !important
}

.sidebar-menu > li > .treeview-menu {
    background: #333 !important;
}

.sidebar-menu > li > .treeview-menu > li > a {
    color: #CCC !important;
}

.sidebar-menu > li > .treeview-menu > li > a:hover {
    color: #FFF !important;
}

.sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {
    background: #111 !important;
}

.content-wrapper {
    margin-left: 200px !important
}

.content-header {
    padding: 7px 15px 7px 15px !important;
    background: #f9ffec !important;
}

.main-footer {
    margin-left: 200px !important
}

.margin-t-5 {
    margin-top: 5px;
}

/**
DASHBOARD
**/
.info-wrap {
    margin-bottom: 1em;
}

.info-head {
    text-transform: uppercase;
    font-family: fantasy;
}

.info-number {
    font-size: 48px;
    line-height: 68px;
}

.info-body {
    padding-top: 1em;
    background: #FFF;
    min-height: 150px;
}

.info-body p {
    border-bottom: 1px solid #CCC;
}

.info-body p i {
    width: 20px;
    border-right: 1px solid #CCC;
    margin-right: 10px;
}

/**
FILTER WRAPPER
**/
.filter-wrap {
    border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: 0;
    -o-box-shadow: 0;
    -webkit-box-shadow: 0
}

.filter-wrap .panel-heading {
    padding: 6px 6px;
}

.filter-wrap .panel-title {
    font-size: 14px;
}

.filter-wrap .panel-body {
    padding: 6px;
}

.filter-wrap .panel-body label {
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 0;
}

.filter-wrap .select2-container--default .select2-selection--single {
    border: 1px solid #d2d6de;
    padding: 5px 2px
}

.filter-wrap .form-group-sm .select2-container .select2-selection--single {
    height: 30px;
    border-radius: 3px
}

.filter-wrap .form-group-sm .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 24px;
    font-size: 12px;
    color: #555
}

.filter-wrap .form-group-sm .select2-results__option {
    font-size: 12px;
    color: #555
}

/**
INFO DISPLAY
**/
.info {
    margin: 0 0 15px 0
}

.info label {
    margin: 0;
    font-weight: 500;
    width: 100%;
}

.info .form-control {
    border: none;
    padding: 0;
    margin: 0;
    font-weight: 100;
    color: #607D8B;
    border-bottom: 1px solid #eee;
    height: auto
}

.separator-header {
    background: #eee;
    padding: 8px 10px;
    font-weight: 100;
    margin-bottom: 1em;
}

.form-group label {
    font-weight: 100
}

label.required em {
    color: #F00
}

/*profile detail page*/
.search-job-filter-wrap.profile-detail-resume {
    text-align: center;
    padding: 2%;
    padding-top: 0px;
    padding-bottom: 1%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=117, Color=#000000)";
    -moz-box-shadow: 1px 2px 6px -3px #000000;
    -webkit-box-shadow: 1px 2px 6px -3px #000000;
    box-shadow: 1px 2px 6px -3px #000000;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color=#000000);
}

.profile-detail-resume-cover {
    background: url(../images/download.jpg);
    width: 100%;
    height: 150px;
    position: relative;
    margin-bottom: 60px;
    margin-top: 4px;
}

.circle-img img {
    width: auto;
    position: absolute;
    bottom: -50px;
    border-radius: 50%;
    left: 50%;
    width: 120px;
    margin-left: -60px;
    border: 3px #fff solid;
}

.search-job-filter-wrap.profile-detail-resume h2 {
    font-size: 22px;
    margin-bottom: 0px;
}

.search-job-filter-wrap.profile-detail-resume h3 {
    font-size: 11px;
    margin-top: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.search-job-filter-wrap.profile-detail-resume span {
    font-size: 12px;
    display: block;
    margin-bottom: 8px;
}

.search-job-filter-wrap.profile-detail-resume p {
    font-size: 14px;
    margin-top: 7px;
    padding-left: 14px;
    padding-right: 14px;

}

.search-job-filter-wrap.profile-detail-resume .btn {
    color: #0084BF;
    border: 1px #0084BF solid;
    font-weight: 600;
    font-size: 12px;
    border-radius: 2px;
}

.search-job-filter-wrap.profile-detail-resume .btn:hover {
    background: #0084BF;
    color: #fff;
}

.profile-detail-resume-brm-bar {
    color: #0084BF;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
    border-top: 1px #cccaca solid;
    padding-top: 10px;
}

.lng-rating-blk {
    margin-bottom: 10px;
}

.see-more {
    padding: 5px;
    border-top: 1px solid #ccc;
    margin-top: 10px;
    text-align: center;
}

.search-job-filter-wrap {
    background: #fbfbfb none repeat scroll 0 0;
    margin-bottom: 8px;
    padding: 20px 10px 15px;
}

.company-info-blk.dashboard-bg-color .title {
    color: #1c98d4;
}

.company-info-blk .title {
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.company-info-blk .title {
    font-size: 17px;
    font-weight: 600;
}

.company-info-blk .title {
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 15px;
    padding-bottom: 9px;
    text-transform: uppercase;
}

.dashboard-bg-color {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
}

.company-info-blk.dashboard-bg-color.clearfix {
    box-shadow: 1px 2px 6px -3px #000000;
}

.company-info-blk.posted-jobs-blk.dashboard-bg-color {
    margin-top: 15px;
}

.company-info-blk.dashboard-bg-color.clearfix {
    padding: 1%;
}

.dashboard-bg-color {
    border: medium none;
}

.dashboard-bg-color {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
}

.posted-jobs-blk-list-blk table {
    width: 100%;
}

.lng-rating-blk {
    margin-bottom: 10px;
}

.bar-blk-rating {
    border: 1px solid #e8e8e8;
    background: #f8f8f8;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;

}

.posted-jobs-blk-list-blk table tr td, .posted-jobs-blk-list-blk table tr th {
    border: 1px solid #e3e3e3;
    padding: 1%;
    width: 1px;
}

/* end */

