{% extends "@YarshaFrontend/frontend_layout.html.twig" %}

{% block content %}
    <!-- navigation bottom background section -->
    <style>
        label, p {
            color: #000;
        }
    </style>
    <section class="navigation-btm-sec login-reg-bg-wrap">
        <div class="container">
            <div class="row">
                <h2>Message</h2>
                {#<span class="login-register-quote">Et omnis referrentur conclusionemque eos</span>#}
                <div class="col-md-12 login-reg-wrap">

                    <div class="login-reg-blk">
                        <p>Please check your email to reset password.</p>
                        <br/>


                        Thanks You!
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}






