{% extends '@YarshaEmployer/employer_layout.html.twig' %}

{% block content_title %}Employer Registration Form{% endblock %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
<div class="company-info-blk posted-jobs-blk dashboard-bg-color clearfix">
    <div class="title">
        <div class="row">
            <div class="col-md-12 col-sm-12">Change Password</div>
        </div>
    </div>

    <div class="table-listing-page-wrap">
        <div class="row">
            {{ form_start(form) }}
            <div class="col-md-3 col-sm-3">
            Password
            </div>
            <div class="col-md-9 col-sm-9">
                 {{ form_widget(form.plainPassword.first) }}
            </div>
              <div class="col-md-3 col-sm-3">
            Confirm Password
            </div>
             <div class="col-md-9 col-sm-9">
                 {{ form_widget(form.plainPassword.second) }}
            </div>

            <div class="col-md-2 col-sm-2">
                 <input type="submit" value="Save">
            </div>
             </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>



{% endblock %}
