{% extends '@YarshaEmployer/employer_layout.html.twig' %}
{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">User Profile </h4>
        </div>

        <div class="panel-body">

            {{ form_start(form) }}
            <div class="col-md-3">
                Username
            </div>
            <div class="col-md-9">
                {{ form_widget(form.username) }}
            </div>

            <div class="col-md-3">
                Email
            </div>
            <div class="col-md-9">
                {{ form_widget(form.email) }}
            </div>

            <input type="submit" value="Update" class="btn btn-primary">
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}
{% block scripts %}

{% endblock %}
