{% extends "@YarshaAdmin/admin_layout.html.twig" %}

{% block page_title %}Newspaper Job{% endblock %}

{% block page_description %}{{ isUpdating ? 'Edit' : 'New' }}{% endblock %}

{% form_theme form "bootstrap_3_layout.html.twig" %}

{% block content %}
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" class="btn btn-primary btn-large" value="SUBMIT">
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

{% endblock content %}
{% block script %}

{% endblock %}
