<style>
    label.control-label {
        display: inline-block;
    }
</style>
<div class="company-info-blk posted-jobs-blk dashboard-bg-color clearfix"  id="profile_{{ setting.section }}">


    <div class="title">
        <div class="row">
            <div class="col-md-10 col-sm-10">Setting</div>
        </div>
    </div>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-success" value="save">
    {{ form_end(form) }}

</div>