/build/
/phpunit.xml

/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php

/app/config/parameters.yml

/vendor/
/web/bundles/
!/web/uploads/
!/web/uploads/media/.gitkeep
web/uploads/media/*
!/web/uploads/attachments/.gitkeep
web/uploads/attachments/*
!/web/uploads/advertisements/.gitkeep
/web/uploads/advertisements/*
!/web/uploads/banners/.gitkeep
/web/uploads/banners/*
!/web/uploads/seekers/.gitkeep
/web/uploads/seekers/*
!/web/uploads/employers/.gitkeep
/web/uploads/employers/*
!/web/uploads/testimonials/.gitkeep
/web/uploads/testimonials/*
!/web/uploads/users/.gitkeep
/web/uploads/users/*
!/web/media/
!/web/media/.gitkeep
/web/media/*
!/web/uploads/.gitkeep
web/uploads/jobsfile/*
!/web/uploads/jobsfile/.gitkeep


!/web/uploads/users/.gitkeep

/web/assets/*
!/web/assets/.gitkeep

.idea/
node_modules/