{# app/Resources/views/Emails/registration.html.twig #}


Dear admin,
<br/><br/>
{{ organization_name }} has requested CV of
{{ seeker_name }}. Click below link to view {{ seeker_name }} details. <br/>
<a target="_blank" href="{{ url }}">Click Here</a>
<br/>


Thanks You!
