{# app/Resources/views/Emails/registration.html.twig #}

Dear {{ name }}
<br/><br/>
You have successfully registered as job seeker.Please login from here.
<a href="{{ host }}{{ path('yarsha_job_seeker_security_login') }}">Login</a>
<br/>


Thanks You!
