{% extends "@YarshaMain/EmailTemplates/email_template_layout.html.twig" %}

{% block email_body %}

Dear, Sir/Madam
<br/><br/>

<p>{{ message|raw }}</p>

<br/><br/>
Thanks You!
<br/></br><br/></br>

{% endblock %}
