{% extends '@YarshaAdmin/admin_layout.html.twig' %}

{% block page_title %} {{ title }} {% endblock %}

{% block page_description %} Change password {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% form_theme form 'bootstrap_3_layout.html.twig' %}

                    {{ form_start(form) }}

                    {{ form_widget(form) }}

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
