{% extends "@YarshaFrontend/frontend_static_layout.html.twig" %}


{% block static_content_title %} Contact{% endblock %}

{% block static_short_content %}
    <section class="bg-title-wrap">
        <div class="container">
            <div class="row">
                <h1>get in <span>Touch</span></h1>
                <p>Kantipur Management Private Limited (KMPL) is an expertise on human resources solutions and has been
                    providing Human Resource Management and related solutions to organizations across the country.</p>
            </div>
        </div>
    </section>

{% endblock %}


{% block static_content %}


    <section class="inner-pages-cnt">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">drop your query</a></li>
                        <li><a data-toggle="tab" href="#menu1">request for call back</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Your Name</label>
                                    <input type="text" placeholder="Name">
                                </div>
                                <div class="col-md-6">
                                    <label>Email Address</label>
                                    <input type="email" placeholder="Email">
                                </div>
                                <div class="col-md-6">
                                    <label>Phone Number</label>
                                    <input type="text" placeholder="Phone">
                                </div>
                                <div class="col-md-6">
                                    <label>Subject</label>
                                    <input type="text" placeholder="Subject">
                                </div>
                                <div class="col-md-12">
                                    <label>Message</label>
                                    <textarea placeholder="Message"></textarea>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <input type="radio" name="gender" value="male"> I AM AN EMPLOYER
                                    <input type="radio" name="gender" value="female"> I AM A JOBSEEKER
                                </div>
                                <div class="col-md-2 col-xs-6"><input type="submit" value="Submit"
                                                                      style="border: none; color: #fff; background:#0396d5">
                                </div>
                                <div class="col-md-2 col-xs-6"><input type="submit" value="Reset"
                                                                      style="border: none; color: #fff; background:#7d7d7d">
                                </div>
                            </div>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Your Name</label>
                                    <input type="text" placeholder="Name">
                                </div>
                                <div class="col-md-6">
                                    <label>Email Address</label>
                                    <input type="email" placeholder="Email">
                                </div>
                                <div class="col-md-6">
                                    <label>Phone Number</label>
                                    <input type="text" placeholder="Phone">
                                </div>
                                <div class="col-md-6">
                                    <label>Subject</label>
                                    <input type="text" placeholder="Subject">
                                </div>
                                <div class="col-md-12">
                                    <label>Message</label>
                                    <textarea placeholder="Message"></textarea>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <input type="radio" name="gender" value="male"> I AM AN EMPLOYER
                                    <input type="radio" name="gender" value="female"> I AM A JOBSEEKER
                                </div>
                                <div class="col-md-2 col-xs-6"><input type="submit" value="Submit"
                                                                      style="border: none; color: #fff; background:#0396d5">
                                </div>
                                <div class="col-md-2 col-xs-6"><input type="submit" value="Reset"
                                                                      style="border: none; color: #fff; background:#7d7d7d">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 contact-right-blk">
                    <ul>
                        <li>Head Office</li>
                        <li>KANTIPUR MANAGEMENT PRIVATE LIMITED</li>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp;Address: Nagpokhari, Naxal-1,
                            Kathmandu, Nepal
                        </li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;Phone: 01 4251599, 4251572</li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;Email: info@kantipurjob.com</li>
                        <li><i class="fa fa-desktop" aria-hidden="true"></i> &nbsp;Website: www.kantipurjob.com</li>
                    </ul>
                    <ul>
                        <li>business hours</li>
                        <li><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;Sunday - Friday</li>
                        <li><i class="fa fa-clock-o" aria-hidden="true"></i> &nbsp;Time: 9:30am to 5:50pm</li>
                        <li><i class="fa fa-times" aria-hidden="true"></i> &nbsp;Saturday / Holidays Closed</li>
                    </ul>

                </div>
            </div>
        </div>
    </section>


    <section class="inner-pages-footer-top-section">
        <div class="container-fluid">
            <div class="row">
                <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d28263.72352406561!2d85.3084537!3d27.687463!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2snp!4v1490770508631"
                        width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </section>

{% endblock %}
