{% extends "@YarshaFrontend/frontend_static_layout.html.twig" %}

{% block static_content_title %}FAQ{% endblock %}

{% block static_content %}
    <!-- inner pages section -->
    <section class="inner-pages-banner-sec faq-inner-page-top-blk">
        <div class="container">
            <h2 class="center"><span class="blue"><strong>Frequently</strong></span><span class="orange"> Asked Questions</span>
            </h2>
            <p class="lead drop-caps secundary">
                Welcome to Frequently Asked Questions. We have listed popular and necessary questions shared by our
                users. If you have different question than enlisted, please do not hesitate to contact us. We will be
                happy to answer your queries as soon as possible. You can contact us using contact us page.
            </p>
            <hr>
        </div>
    </section>

    <!-- inner pages content -->
    <section class="inner-pages-cnt faq-collapse-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 faq-collapse">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseOne">
                                        What is Kantipurjob?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    Kantipurjob.com is a platform to find job of your choice. It is a leading career management pool in Nepal since 2012. For job seekers, it is a complete solution to find the career of your choice and if you are not sure of your choice it helps to identify the best fit for you. For employers, it is the hub of candidates and Kantipurjob also helps you select the right fit for your organization.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseTwo">
                                        Why kantipurjob.com?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Few resons you should choose us.
                                    <ul>
                                        <li>Expert on human resource field with experience of providing service</li>
                                        <li>Competitive task force with expertise in human resource management</li>
                                        <li>Prompt and reliable staffing service</li>
                                        <li>Presence across Nepal</li>
                                        <li>Expert on handling outsourced businesses</li>
                                        <li>Get instant access to Jobs that match your profile</li>
                                        <li>Build up your career with top most organizations/ Companies.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseThree">
                                        Why should I register/create my profile at kantipurjob.com?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    We recommend you to crate profile/register with kantipurjob.com and get following benefits:
                                    <ul>
                                        <li>Access to numerous job opportunities</li>
                                        <li>Create profile/resume and help kantipurjob find a right job for you</li>
                                        <li>Apply online yourself instantly to a job</li>
                                        <li>Receive job alerts</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseFour">
                                        How can I register/ create my Profile at kantipurjob.com?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Register Now and create your profile following the easy steps below:
                                    <ul>
                                        <li>Click on the sign up icon on the home page or Login on the top right menu bar of home page.</li>
                                        <li>Provide the requested details</li>
                                        <li>You will receive confirmation request in the email address you entered</li>
                                        <li>Please login to your email and confirm to complete the registration process</li>
                                        <li>Once you confirm, you can login to www.kantipurjob.com with the user details you created</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseFive">
                                        How can I complete my Profile at kantipurjob.com?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Please Login Now with your user details and follow the steps below to complete your profile. :
                                    <ul>
                                        <li> Go to your dashboard</li>
                                        <li>Edit the fields Personal, Education/Training, Employment and other information</li>
                                        <li>You can preview and edit any time</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseSix">
                                        Does it cost to post my resume on Kantipurjob.com?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseSix" class="panel-collapse collapse">
                                <div class="panel-body">
                                    It is absolutely free to register, create profile and post resume with Kantipurjob.com.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseSeven">
                                        What happens if I forgot my password?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseSeven" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Steps to follow to recover /reset your password:
                                    <ul>
                                        <li>Go to the login/sign up link in the homepage</li>
                                        <li>Select forgot password</li>
                                        <li>Enter the email address used during the registration</li>
                                        <li>You will receive an email for password change request</li>
                                        <li>Follow the instructions in the email</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseEight">
                                        How do I know which job I have applied to?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseEight" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Steps to view your applied jobs:
                                    <ul>
                                        <li>Login to your account and you will be redirected to your dashboard</li>
                                        <li>Click on the Jobs I have applied</li>
                                        <li>You will see the name of the organization, date of application, and job status</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseNine">
                                        Can I upload my photograph?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseNine" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Steps to upload your picture:
                                    <ul>
                                        <li>Login to your account and you will be redirected to your dashboard</li>
                                        <li>Click Upload photograph</li>
                                        <li>Choose the file (only jpg, png, gif format is supported)</li>
                                        <li>Click on save changes, and you photo is uploaded</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseTen">
                                        What is job alert?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTen" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Job alert is an email notification sent by Kantipurjob to the job seekers. This job alert provides a customized information on available jobs that match the candidates profile and preferred job categories.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseEleven">
                                        How can I apply to a job?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseEleven" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Steps to apply for job you like:
                                    <ul>
                                        <li>Log in to your account</li>
                                        <li>On the homepage, you can see various job positions or you can search job vacancies by categories.</li>
                                        <li>Select and read through the job of your interest, and click Apply Online</li>
                                        <li>Follow the applying instructions to complete your application</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseTwelve">
                                        Who can view my profile/resume?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwelve" class="panel-collapse collapse">
                                <div class="panel-body">
                                    List of Peoples who will access your profile/resume:
                                    <ul>
                                        <li>Employers (organization) where you have applied can view your profile/resume</li>
                                        <li>Kantipurjob will view your profile, to identify the right job opportunities for you</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
