{% extends "@YarshaFrontend/frontend_static_layout.html.twig" %}


{% block static_content_title %} Privacy Policy{% endblock %}

{% block static_short_content %}


{% endblock %}


{% block static_content %}


    <!-- inner pages content -->
    <!-- inner pages content -->
    <section class="inner-pages-cnt">
        <div class="container">

            <h1>Privacy Policy</h1>
            <p>Kantipurjob.com and Kantipur Management Pvt. Ltd. are committed to respecting the privacy of our users.
                We focus to provide a safe and secure user experience. Please read through the privacy policies.</p>


            <ul>
                <li style="text-align:justify;">
                    This Privacy Policy covers all your personal and identifiable information that we collect from you.
                    When you register with kantipurjob.com, we ask for your name, email, address and phone number. Once
                    you register with us and sign-in to our services, your information is held confidential.
                </li>
                <li style="text-align:justify;">
                    Kantipurjob.com automatically receives and records information on our server, logs from your browser
                    including your IP address and the page you requested. Kantipurjob.com will not sell your personal
                    and identifiable information.
                </li>
                <li style="text-align:justify;">
                    By the very nature of its operations, kantipurjob.com establishes, maintains, and operates a number
                    of business links with a number of sponsors, to whom it sells both of its products and services.
                </li>
                <li style="text-align:justify;">
                    Kantipurjob.com deems its policy in this regard to be made clear. Users of our service should be
                    made well aware of the risks that are inherent not with us but on the Internet in general, which
                    comes as a result of using these links. Kantipurjob.com absolutely has no control over what others
                    may do with your information. Consequently, kantipurjob.com must necessarily decline any or all
                    responsibilities in the event that your private information is violated by others. If you do not
                    agree with this policy, you should not use the links which appear on our website.
                </li>
                <li style="text-align:justify;">
                    Kantipurjob.com offers you the choice to edit your Account Information and preferences at any time.
                </li>
                <li style="text-align:justify;">
                    Kantipurjob.com account information is password-protected for your privacy and security.
                </li>
                <li style="text-align:justify;">
                    Children should get prior permission from their parents to send any information about themselves
                    (such as their names, email addresses, and phone numbers) over the Internet, to us or to anyone
                    else. We would not accept the personal and identifiable information of anyone under 15 to the best
                    of our knowledge.
                </li>
            </ul>


        </div>
    </section>




{% endblock %}
