{% extends "@YarshaFrontend/frontend_static_layout.html.twig" %}


{% block static_content_title %} Terms of Use{% endblock %}

{% block static_short_content %}


{% endblock %}


{% block static_content %}


    <!-- inner pages content -->
    <!-- inner pages content -->
    <section class="inner-pages-cnt">
        <div class="container">

            <h1>terms and conditions</h1>
             <p style="text-align:justify;">PLEASE READ THIS AGREEMENT CAREFULLY. IT SETS OUT THE TERMS UNDER WHICH kantipurjob.com OFFERS YOU USE OF
                ITS SERVICES AS DEFINED IN CLAUSE 1.1 OF THIS DOCUMENT BY MEANS OF kantipurjob.com (THE "WEBSITE"). BY
                USING ANY OF THE SERVICES AND/OR THE WEBSITE YOU AGREE THAT YOU HAVE READ AND ACCEPTED THESE TERMS AND
                CONDITIONS AND THAT THEY SHALL APPLY TO YOUR USE. IF YOU DO NOT WISH TO BE BOUND BY THEM, PLEASE DO NOT
                REGISTER FOR OR USE THIS WEBSITE AND ITS SERVICE.</p>
             <p style="text-align:justify;">This Agreement is made between you and kantipurjob.com</p>

            <h2>1. the services</h2>
            <ul>
                <li style="text-align:justify;">By means of the Website, kantipurjob.com makes available an on-line
                    recruitment and employment
                    information service, where recruiters place advertisements for positions which they have and if
                    interested you may submit responses to such positions (the "Services").
                </li>
                <li style="text-align:justify;">Please note that when responding to recruiters you will be dealing with
                    them directly and as such
                    any contracts and/or arrangements will be formed between you and them, without kantipurjob.com as a
                    party- kantipurjob.com cannot be held liable for your use of or any liability arising out of the
                    same.
                </li>
                <li style="text-align:justify;">The Services are only available on the completion of the registration
                    section of the Website
                    including confirmation that the relevant terms and conditions have been read and accepted.
                </li>
            </ul>


            <h2>1. use of the website and services</h2>
            <ul>
                <li style="text-align:justify;">The Website and the Services are for personal and non-commercial use
                    only. You may copy
                    electronically and print portions of the Website and/or the Services for your personal,
                    non-commercial use only. In particular, you may not use any information from any directory or other
                    listing or information retrieval service (if any) made available on the Website and/or the Services,
                    in connection with any business or commercial undertaking (whether or not for profit). Any other use
                    of materials on the Website and/or the Services (including without limitation reproduction for a
                    purpose other than that noted above and any modification, distribution or republication) without the
                    prior written permission of kantipurjob.com is strictly prohibited. You also agree not to deep-link
                    and/or frame the Website or any of the Services for any purpose, unless specifically authorised by
                    kantipurjob.com to do so.
                </li>
                <li style="text-align:justify;">You agree that you shall not use the Website or the Services to transmit
                    or knowingly or recklessly
                    receive (or knowingly or recklessly authorise or permit any other person to receive or transmit)
                    material which is obscene, threatening, menacing, offensive, defamatory, abusive, untrue, in breach
                    of confidence, in breach of any intellectual property right (including copyright) or which may cause
                    anxiety to others including racist or sexist content or material which otherwise violates any
                    applicable law or regulation or code, or which makes excessive demands for bandwidth or contains any
                    virus or which may otherwise impair or harm kantipurjob.com's computer systems or any third party
                    computer system.
                </li>
                <Li>By registering to use the Services pursuant to clause 1.3, you automatically and hereby grant to
                    kantipurjob.com a royalty free right to display, copy, reproduce and make available on the Website
                    and otherwise deal with as necessary to provide to you the Services any material and information
                    which you may provide to kantipurjob.com through your use of the Services.
                </li>

                <li style="text-align:justify;">Save to the extent required by law, no representations, warranties or
                    terms of any kind are made in
                    respect of the Website and/or the Services or their contents (including, without limitation, any
                    views or comment made). All information and/or data included in and/or on the Website, the Services
                    and/or in any directory or other listings or information retrieval service made available on or by
                    the Website and/or the Services has been so made available for guidance only. Your use of such
                    information and/or data is therefore entirely at your own risk. All liability of kantipurjob.com,
                    its directors, employees or other representatives howsoever arising for any loss suffered as a
                    result of your use of the Website and/or the Services is expressly excluded to the fullest extent
                    permitted by law.
                </li>

                <li style="text-align:justify;"> Kantipurjob.com makes no warranty that the contents of any and all
                    e-mails communicated through the
                    website are free from infection by viruses or anything else which has contaminating or destructive
                    properties and shall have no liability in respect thereof.
                </li>

                <li style="text-align:justify;">The Website and/or the Services may include links to websites and/or
                    services owned and/or operated
                    by third parties. These are provided for your convenience only and kantipurjob.com is not
                    responsible for and does not give any warranties or make any representations regarding any such
                    websites and/or services and is not responsible for or liable in relation to the content or your use
                    of such websites (save to the extent required by law).
                </li>

                <li style="text-align:justify;">You acknowledge that kantipurjob.com is not responsible for third party
                    content on the Website and
                    that kantipurjob.com cannot ensure that material presented on the Internet is legal. Kantipurjob.com
                    will not limit access to material unless notified that it is illegal. In particular, you acknowledge
                    that kantipurjob.com is not responsible for and does not monitor the content of job postings
                    provided by third parties on the Website. However, kantipurjob.com shall have the right to remove
                    any postings, materials or other items on the Website which it believes may be illegal or which it
                    determines to be inappropriate.
                </li>

                <li style="text-align:justify;">Kantipurjob.com will not be a party to any communications whatsoever
                    between you and those
                    responding to any use which you may make of the Services, although kantipurjob.com reserves the
                    right to monitor any such communications which are made by you or third parties by means of the
                    Website and/or the Services.
                </li>

                <li style="text-align:justify;">Intellectual Property Save to the extent permitted by this Agreement,
                    kantipurjob.com does not grant
                    any license or other authorisation to use any of its trademarks, product names, company names or
                    logos or any of its copyright works or other intellectual property rights by placing them on or
                    making them available by means of the Website or the Services.
                </li>

            </ul>

            <h2>3. Availability of the Website and the Service</h2>

            Kantipurjob.com does not promise full, uninterrupted or error free operation of the Website and/or the
            Services. All liability of kantipurjob.com, its directors or employees howsoever arising for any loss
            whatsoever arising from your use of or inability to use the Website and/or the Services is excluded, insofar
            as it is possible to do so in law.

            <h2>4. Registration</h2>

            Where you are asked to complete a registration form the personal details that you provide must be true,
            accurate and complete. You agree to notify us of any changes which are relevant to your registration.

            <h2>5. Data Protection and Use of Personal Information</h2>

             <p style="text-align:justify;">Your personal data will be collected and processed by kantipurjob.com in accordance with its privacy
                policy. The personal data collected may include, without limitation, your name, address, telephone and
                fax details, email contact address, and other data obtained from you time to time.</p>

             <p style="text-align:justify;">Information may be gathered from your registration form(s) and your use of the Sites and/or the
                Interactive Services including through "cookies". Cookies are blocks of text placed in files on your
                computer's hard drive when you visit a web site which contain information to identify you. A cookie does
                not contain any personal information you have provided us with, except your user name, unless the cookie
                attached to personal information collected another way, such as by means of your on-line registration
                form.</p>

             <p style="text-align:justify;">Your details will be used to share your candidacy to the job position you fit and/or to find a right job
                position for your profile details. All the details will be purely used for the human resource management
                process.</p>

             <p style="text-align:justify;">Other than as set out elsewhere in this clause 5 your information shall not be disclosed or used by us.
                You hereby agree to these terms in this clause 5 by your agreement to the terms and conditions of this
                Agreement.</p>

            <h2>6. Termination</h2>

            Kantipurjob.com may terminate, suspend or deny your access to the Website and/or Services immediately for
            any reason without incurring any liability whatsoever to you.

            <h2>7. Claims</h2>

            You agree to indemnify kantipurjob.com and all companies within the kantipurjob.com group for all losses,
            costs, actions, claims, damages, expenses (including reasonable legal costs and expenses) or liabilities,
            whatsoever suffered or incurred by kantipurjob.com as a consequence of your breach of this Agreement and/or
            your use of the Website and/or Services (save to the extent that a court of competent jurisdiction holds
            that such a claim arose due to an act or omission of kantipurjob.com).

            <h2>8. Force Majeure</h2>

            Neither party shall be liable to the other, for any loss or damage which may be suffered by the other party
            due to any cause beyond the first party's reasonable control including without limitation any power failure.

            <h2>9. Notices</h2>

            Any notices shall, unless otherwise expressly stated, be in writing and shall be given by sending the same
            by e-mail, first class post, or facsimile transmission to the other party's address as may be designated in
            writing from time to time. Any notice sent by first class post shall be deemed (in the absence of evidence
            of early receipt) to have been delivered two days after dispatch. Any notice given by e-mail or facsimile
            transmission shall be deemed to have been delivered on the next working day following transmission.

            <h2>10. Assignment</h2>
            <ul>

                <li style="text-align:justify;">This Agreement shall be personal to you and you may not assign,
                    transfer, sublet, lease or delegate
                    all or any of your rights and obligations, without kantipurjob.com's prior written consent.
                </li>

                <li style="text-align:justify;">Kantipurjob.com reserves the right to assign or transfer all or any of
                    its rights and obligations
                    under this Agreement to any companies in the same group or any other third party. In the event of
                    assignment or transfer, notification will either be given to you by e-mail or posted on the Website.
                </Li>
            </ul>
            <h2>11. No Waiver</h2>

            Failure or negligence by either party to exercise or enforce any right conferred shall not be deemed to be a
            waiver of any such right nor operate so as to bar that exercise or enforcement thereof or of any other right
            on any later occasion.

            <h2>12. Severability</h2>

            If any provision of this Agreement or part thereof is determined to be invalid, unlawful or unenforceable,
            such provision, or part thereof, shall be severed from the remaining terms, conditions and provisions which
            shall continue to be valid and enforceable to the fullest extent permitted by law.

            <h2>13. Variation of Terms</h2>

            <p style="text-align:justify;">This Agreement (together with any variations to it pursuant to clause 13.2) constitutes the entire
                agreement between the parties in respect of its subject matter.</p>

             <p style="text-align:justify;">Kantipurjob.com reserves the right to vary this Agreement from time to time. Such changes shall either be
                notified to you by e-mail or posted on the home pages of the Website. Changes in this manner shall be
                deemed to have been accepted if you continue to use the Website and/or the Services after a period of
                two weeks from the date of transmission of the e-mail or of posting on the home pages of the Website,
                whichever occurs later.</p>

            <h2>14. Law and Jurisdiction</h2>

            This agreement shall be governed by the laws of Nepal and you hereby submit to the exclusive jurisdiction of
            the Nepal courts.


            </ul>
        </div>
    </section>




{% endblock %}
