{% extends "@YarshaFrontend/frontend_static_layout.html.twig" %}


{% block static_content_title %} Trainings{% endblock %}

{% block static_short_content %}
    <section class="bg-title-wrap">
        <div class="container">
            <div class="row">
                <h1>your platform <span>to redefine future</span></h1>
                <p>Kantipur Management Private Limited (KMPL) is an expertise on human resources solutions and has been
                    providing Human Resource Management and related solutions to organizations across the country.</p>
            </div>
        </div>
    </section>

{% endblock %}


{% block static_content %}

    <section class="inner-pages-cnt">
        <div class="container">
            <p style="text-align:justify;">The literal function of training is to produce change. It is the upgrading of an individual’s skill or
                the addition of a new skill, which in turn can bring about the desired change an organization is
                seeking. It is important to understand that training in and of itself cannot motivate a work force.
                However, it is an essential part of what is needed to accomplish the long-term goals of the agency. In
                addition to the trainings, it is important to identify the appropriate medium of motivation to appraise
                the performance. Kantipur Management provides wide range of trainings focused on corporate world and
                individual attributes and identify motivation plans as per the job profile.</p>

            <h2>Trainings provided by Kantipur Management Pvt. Ltd.</h2>
            <ul>
                <li>Effective corporate communication and personality development</li>
                <li>Office management and secretarial training</li>
                <li>Customer Service Excellence Training</li>
                <li>Leadership- managerial skills and situational leadership</li>
                <li>Conflict and stress management</li>
                <li>Effective performance management</li>
                <li>Sales and marketing skills</li>
            </ul>
        </div>
    </section>


{% endblock %}
