<div class="col-md-4">
    <div class="col-md-12 info-head bg-red">
        <span class="info-number">{{ count.total_seekers }}</span> &nbsp; Job Seekers
    </div>
    <div class="col-md-12 info-body">
        <p><i class="fa fa-check"></i> Enabled : {{ count.enabled_seekers }} </p>
        <p><i class="fa fa-ban"></i> Disabled : {{ count.disabled_seekers }} </p>
    </div>
</div>
