<div class="col-md-4">
    <div class="col-md-12 info-head bg-yellow">
        <span class="info-number">{{ count.total_employers }}</span> &nbsp; Employers
    </div>
    <div class="col-md-12 info-body">
        <p><i class="fa fa-check"></i> Enabled : {{ count.enabled_employers }} </p>
        <p><i class="fa fa-ban"></i> Disabled : {{ count.disabled_employers }} </p>
    </div>
</div>
