{% extends "@YarshaFrontend/frontend_layout.html.twig" %}

{% block content_title %}Registration Submitted{% endblock %}

{% block content %}

    <style>
        .messageBody p{font-size: 16px; font-weight:100; color: #2b542c}
    </style>

    <div class="col-md-12">
        <div class="col-md-12">

            <p>&nbsp;</p>
            <p>&nbsp;</p>

            <div class="alert alert-success">
                <blockquote style="float: left">
                    <i class="fa fa-check-circle fa-4x  text-success"></i> &nbsp; &nbsp;
                </blockquote>

                <div class="messageBody">
                    <br>
                    <h4>Unsubscribe Successful</h4>
                    <p>You will no longer receive email for job alerts.</p>
                </div>
            </div>

            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>

    </div>

    <br><br><br>

    <div class="clearfix"></div>
{% endblock %}