<section class="did-you-know-section">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-2"><span>Did you <br/>know ?</span></div>
            <div class="col-md-2 col-sm-2 percentage-blk">91%</div>
            <div class="col-md-3 col-sm-3">
                <p>of job seekers registered in their first attempt and applied for their dream job through kantipurjob.com</p>
            </div>
            <div class="col-md-2 col-sm-2 percentage-blk">89%</div>
            <div class="col-md-3 col-sm-3">
                <p>of job seekers have received prompt response from
                    kantipurjob.com after registration</p>
            </div>
        </div>
    </div>
</section>