<ul class="nav navbar-nav navbar-right">
    <li class="active"><a href="#">Call Now : 01 4251599</a></li>
    <li><a href="{{ links.facebook.default ? : '#' }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
    <li><a href="{{ links.twitter.default ? : '#' }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    <li><a href="{{ links.google_plus.default ? : '#' }}" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
    <li><a href="{{ links.linkedin.default ? : '#' }}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
    {#<li><a href="tel:014251599"><i class="fa fa-phone" aria-hidden="true"></i></a></li>#}
</ul>
