<div class="panel panel-default">
    <div class="panel-heading">{{ testimonial.title }} | {{ testimonial.company }}</div>
    <div class="panel-body">
        <p>{{ testimonial.message | raw }}</p>
    </div>
</div>
