<!DOCTYPE html>
<html>
<head>
    <!-- meta viewport -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- title -->
    <title>Update Profile | Kantipur Jobs</title>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <!-- font css path -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <!-- bootstrap css path -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body style="background: #e3e3e3">
<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your browsing experience.</p>
<![endif]-->
<div class="container" style="width: 625px;">
    <div class="row">
        <header style="background: #fff; padding: 2%;">
            <div class="row">
                <div class="col-md-6">
                    <a href="#"><img src="{{ asset('images/logo.png') }}"></a>
                </div>
                <div class="col-md-6" style="text-align: right;">
                    <a href="#"><img src="{{ asset('images/update-profile-icon.jpg') }}"></a>
                </div>
            </div>
        </header>

        <!-- header btm section -->
        <section
                style="background:#b4ecf9; padding: 1%; text-align: center; margin-bottom: 10px; border: 1px solid #80d1e4;">
            <p style="margin-bottom: 0;">Please add this email jobalert@kantipurjob.com to your contact list to prevent
                future job alerts from being directed to your jink/bulk folder</p>
        </section>


        <!-- saluation section -->
        <section style="background:#F2652A; padding: 1%;">
            <div class="row">
                <div class="col-md-9">
                    <span style="font-weight: 600;">Dear Alok,</span> Your profile not updated in kantipur.com from ....
                    Date
                </div>
                <div class="col-md-3" style="text-align: right;">
                    <a href="#" style="color: #fff;">(Update Profile)</a>
                </div>
            </div>
        </section>


        <!-- your profile detail -->
        <section style="background:#1A98D3; padding: 1%;color: #fff; ">
            Your Profile Details
        </section>


        <!-- profile summary section -->
        <section style="padding:20px 0;">
            <div class="row">
                <div class="col-md-6" style="width: 50%">
                    <ul style="padding-left: 0;">
                        <li style="list-style-type: none; line-height: 32px; color: #1A98D3; font-size: 18px; margin-bottom: 10px;">
                            <i class="fa fa-briefcase" aria-hidden="true"></i> &nbsp;Profile Summary
                        </li>
                        <li style="list-style-type: none; line-height: 32px;">Personal Information <span
                                    style="float: right; background: red; color: #fff; padding: 4%;padding-top:0;padding-bottom: 0;border-radius:3px; width: 53px;">57%</span>
                        </li>
                        <li style="list-style-type: none; line-height: 32px;">General Information <span style="float: right; background: green; color: #fff; padding: 4%;padding-top:0;padding-bottom: 0;border-radius:3px;width: 53px;
    ">57%</span></li>
                        <li style="list-style-type: none; line-height: 32px;">Education <span style="float: right; background: orange; color: #fff; padding: 4%;padding-top:0;padding-bottom: 0;border-radius:3px;width: 53px;
    ">57%</span></li>
                        <li style="list-style-type: none; line-height: 32px;">Training <span style="float: right; background: #e96592; color: #fff; padding: 4%;padding-top:0;padding-bottom: 0;border-radius:3px;width: 53px;
    ">57%</span></li>
                        <li style="list-style-type: none; line-height: 32px;">Personal Summary <span style="float: right; background: #000; color: #fff; padding: 4%;padding-top:0;padding-bottom: 0;border-radius:3px;width: 53px;
    ">0%</span></li>
                        <li style="list-style-type: none; line-height: 32px;">Other Summary <span style="float: right; background: #626595; color: #fff; padding: 4%;padding-top:0;padding-bottom: 0;border-radius:3px;width: 53px;
    ">57%</span></li>
                    </ul>
                </div>
                <div class="col-md-6" style="width: 50%">
                    <ul style="padding-left: 0;">
                        <li style="list-style-type: none; line-height: 32px; color: #1A98D3; font-size: 18px;"><i
                                    class="fa fa-user" aria-hidden="true"></i> &nbsp;Mr. Paras Kharel <span
                                    style="float: right; color: green; font-size: 35px;"><i class="fa fa-check-square-o"
                                                                                            aria-hidden="true"></i></span>
                        </li>
                        <li style="list-style-type: none; line-height: 32px;">Profile Visits</li>
                        <li style="list-style-type: none; line-height: 32px;">Mobile: 9856326548 <a href="#">Edit</a>
                        </li>
                        <li style="list-style-type: none; line-height: 32px;">Email: xyz@gmail.com <a href="#">Edit</a>
                        </li>
                        <li style="list-style-type: none; line-height: 32px;">Last Login Date: Feb 05, 2016</li>
                        <li style="list-style-type: none; line-height: 32px;">Last Profile Update: Jan 28, 2016</li>

                    </ul>
                </div>


                <div class="col-md-12"
                     style="background:#c5c0c0; color: #000;margin-top: 20px; padding-top: 15px; padding-bottom: 15px;">
                    <div class="row">
                        <div class="col-md-9">
                            Employers look for the most recently updated profiles in their searches. To stay active,
                            online and updated.
                        </div>
                        <div class="col-md-3">
                            <button style="color: #fff; background:#1A98D3; border:none; padding:4px 8px;">Update Now
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- readmore section -->
        <section style="border:1px #000 solid; ">
            <div class="row">
                <div class="col-md-4" style="text-align: center; padding-top: 15px; padding-bottom: 15px;">
                    <a href="#" style="font-weight: 600;">Read More</a> about our Resume Services
                </div>
                <div class="col-md-4" style="text-align: center; padding-top: 15px; padding-bottom: 15px;">
                    <a href="#" style="font-weight: 600;">Request a Call Back</a>
                </div>
                <div class="col-md-4" style="text-align: center; padding-top: 15px; padding-bottom: 15px;">
                    Call us on 00977 1 4435620<br/>
                    <span style="color: #717171;">(10 AM to 5 PM) </span>
                </div>
            </div>
        </section>


        <!-- requiters section -->
        <section
                style="text-align: center; background: #b4ecf9; padding-top: 10px; padding-bottom: 10px; border:1px solid #80d1e4;">
            <h4 style="margin-top: 0;">Get more Recruiters to view your Profile</h4>
            <p style="margin-bottom: 0;">Showcase the best of your professionalism with a Professional Resume and Cover
                Letter</p>
        </section>


        <!-- disclaimer section -->
        <section style="padding:2%; border:1px #000 solid ;font-size:12px;">
            <span style="color: #F2652A; font-weight: 600;">Disclaimer:</span> You have received this mail because you
            are registered member on kantipurjob.com. This is a system generated email, please dont reply to this
            message. For <a href="#">Terms and Conditions</a> and other legal disclaimers, please visit
            kantipurjob.coom. If you do not want to receive thi mailer, <a href="#">Unsubscribed.</a>
        </section>
    </div>
</div>


<!-- bootstrap jquery path -->
<script type="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
