<div class="panel panel-default">
    <div class="panel-heading">{{ govOrganization.name }} | Type: {{ govOrganization.type }}</div>
    <div class="panel-body">
        <p>{{ govOrganization.profile | raw }}</p>
    </div>
</div>
