{% extends "@YarshaFrontend/frontend_layout.html.twig" %}

{% block content_title %}Activation Failure{% endblock %}

{% block content %}

    <style>
        .messageBody p{font-size: 16px; font-weight:100;}
    </style>

    <div class="col-md-12">
        <div class="col-md-12">

            <p>&nbsp;</p>
            <p>&nbsp;</p>

            <blockquote style="float: left">
                <i class="fa fa-exclamation-triangle fa-4x  text-warning"></i> &nbsp; &nbsp;
            </blockquote>

            <div class="messageBody text-warning">
                <br>
                <p>Something went wrong while activating your account.</p>
                <p>Please, Try again later.</p>
            </div>

            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>

    </div>

    <br><br><br>

    <div class="clearfix"></div>
{% endblock %}