{% extends "@YarshaFrontend/frontend_layout.html.twig" %}

{% block content %}

    <br><br><br>

    <div class="col-md-12">
        <div class="alert alert-success">
            <i class="fa fa-check-circle"></i> &nbsp; &nbsp;
            You have successfully registered as job seeker.Please check your email for email confirmation.

            {#<a href="{{ path('yarsha_job_seeker_security_login') }}">Login</a>#}
        </div>
    </div>

    <br><br><br>

{% endblock %}
