{% extends "@YarshaAgency/agency_layout.html.twig" %}

{% block page_title %}Dashboard{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="box">
              <h3>Welcome to Dashboard!</h3>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>




{% endblock content %}
